<div class=" container2">

  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">

          <a href=""> <img class="logo" src="/images/306215291_818426902620201_920004909125426307_n.png" </a>
        </div>

        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">My first webApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/auth/login">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/auth/signup">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/contact">Contact Us</a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </nav>
  </header>
  <div class="choices">
    <ul class="items">
      <li class="menu">FRIENDS AND FAMILY SALE</li>
      <li class="menu">NEWLY DROPPED</li>
      <li class="menu">BAGS</li>
      <li class="menu">WOMAN</li>
      <li class="menu">MAN</li>
      <li class="menu">SHOES</li>
      <li class="menu">GIFTS</li>
    </ul>
  </div>
  <div class="flash">

  </div>
  <div class="welcome">
    <h1 class="outletify">OUTLETIFY</h1>
    <p>This is an online retailer that specializes in outlet priced luxury bags. I’m personally a big fan of Gucci and
      versace and think it has done an amazing job at branding and creating an ultra-personalized experience from the
      ground up.
      Giving customers the chance to try on luxury products for a low price </p>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 px-0">
        <img class="img-fluid" src="/images/female-friends-out-shopping-together_53876-25041.jpeg">
      </div>
      <div class="col-md-4 px-0">
        <img class="img-fluid" src="/images/two-beautiful-women-shopping-town_1303-16426.jpeg">
      </div>
      <div class="col-md-4 px-0">
        <img class="img-fluid" src="/images/woman-3040029_960_720.webp">
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="footer">
    <a class="follow" href="http://www.facebook.com">facebook</a>
    <a class="follow" href="http://www.instagram.com">instagram</a>
    <a class="follow" href="http://www.twitter.com">Twitter</a>
  </div>
</div>