

<img class="imgItem" src="{{productId.img}}">
{{#each productId}}
  <div>
    <h5> {{name}}</h5> <p> <br>{{price}} <br>{{info}}</p>
   </div>
{{/each}}
   <a href="/auth/payment">continue payment here</a>
   <br>
   <br>
   <br>
<a href="/auth/home"> HOME </a>