<form action="/auth/payment" method="GET">
  <h1>Payment form</h1>
  <section>
    <label>Card number</label>
    <input>
  </section>
  <section>
    <label>Name on card</label>
    <input>
  </section>
  <section>
    <div>
      <label>Expiry date</label>
      <input>
    </div>
    <div>
      <label>Security code</label>
      <input>
    </div>
  </section>
</form>
  <form action="/auth/products">
  <button>Complete payment</button>
  </form>
  <a href="/auth/products">back</a>